name: Run Python Script

on: 
  push:
    branches:
      - github_action
  pull_request:
    branches:
      - github_action

jobs:
  run-python:
    runs-on: ubuntu-latest
    environment: WildfireEnvironment

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '^3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Python script
        run: python ./cwfis/extract_to_mongodb.py
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
